@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
#Header{
    margin-left: .5rem;
    margin-right: .65rem;
    display: flex;
    justify-content: flex-end;
    border-bottom: .25rem solid black;   
    align-items: flex-end;
    width: 95%;
    a{
        font-weight: bolder;
        font-size: 2rem;
        font-family: 'Hubballi' !important;
      }
      a:active,  a:hover{
        color: aqua;
        text-shadow: teal 0px 0px 2px, teal 0px 0px 10px, teal 0px 0px 5px, aquamarine 0px 0px 10px, aquamarine 0px 0px 15px;

        font-weight: bolder;
    }
    .nav-link, a{
        color: black;
        border-bottom: none;
        font-size: 2rem !important;
        :active,  :hover{
            color: aqua;
            text-shadow: teal 0px 0px 2px, teal 0px 0px 10px, teal 0px 0px 5px, aquamarine 0px 0px 10px, aquamarine 0px 0px 15px;

            font-weight: bolder;
        }
    }
    button{
        padding: 1rem;
        height: 2rem;
        color: white;
        background-color: black;
        width: fit-content;
        font-weight: bold;
       span{
              font-size: .76rem !important;
              text-overflow: ellipsis;
              white-space: nowrap;
       }
        :active,  :hover{
            color: aqua;
            text-shadow: teal 0px 0px 2px, teal 0px 0px 10px, teal 0px 0px 5px, aquamarine 0px 0px 10px, aquamarine 0px 0px 15px;

            font-weight: bolder;
        }
    }
}

@media screen and (orientation:portrait) and (min-device-width: 368px) and (max-device-width: 9003px) {

    button{
        padding: 1rem;
        height: 2rem;
        color: white;
        background-color: black;
        width: fit-content;
        font-weight: bold;
       span{
              font-size: .76rem !important;
              text-overflow: ellipsis;
              white-space: nowrap;
       }
        :active,  :hover{
            color: aqua;
            text-shadow: teal 0px 0px 2px, teal 0px 0px 10px, teal 0px 0px 5px, aquamarine 0px 0px 10px, aquamarine 0px 0px 15px;

            font-weight: bolder;
        }
    }
    #Header{
        margin-left: .5rem;
        margin-right: .65rem;
        display: flex;
        justify-content: flex-end;
        border-bottom: .25rem solid black;   
        align-items: flex-end;
        width: 95%;
        a{
            font-weight: bolder;
            font-size: .75rem ;
            font-family: 'Hubballi' !important;
          }
        .nav-link, a{
            color: black;
            border-bottom: none;
            font-size: .75rem ;
            :active :hover{
                color: aqua;
                font-size: 1.5rem !important;
            }
        }
    }


}