.contact{
	width: 100% !important;
	flex-flow: row wrap;
	justify-content: center;
	
	height: 3rem;
	background-color: black;
	justify-content: space-around;
	//background-color: rgb(23, 42, 58);
	.imgHeader{
		height: 1.5rem !important;
		margin-top: .55rem;
		width: 2rem;
		background-color: black;
	}
	button{
		background-color: black;
	
		border: none;
	}
}

