@import '~bootstrap/scss/bootstrap.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}
ul {
  /* Use flex boxes to align li items */
  display: flex;
  justify-content: space-around;
  /* Remove default padding from major browsers */
  padding: 0;
  /* Hide the default decorations for li items */
  list-style: none;
}
ul > li {
  /* Display the elements in one line */
  display: inline-block;
}

  img{
    position: relative;
    margin-right: .54rem;
  width: 28px;
  height: 28px;
  }
 .lang{
   font-size: 1.5rem !important;
 }
 .typewriter{
 margin-left: 1.5rem !important;
 }
 .typewriter h1 {
 color: black;
   overflow: hidden; 
   border-right: .15em solid transparent; /* The typwriter cursor */
   white-space: nowrap; /* Keeps the content on a single line */
   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
   letter-spacing: .15em; /* Adjust as needed */
   animation: 
     typing 1.755s steps(20, end),
     blink-caret .75s step-end infinite;
 }
/* The typing effect */
 @keyframes typing {
   from { width: 0% }
   to { width: 80% }
 }

 /* The typewriter cursor effect */
 @keyframes blink-caret {
   from, to { border-color: transparent }
   50% { border-color: transparent; }
 }
  .container {
  height: 30%;
  width: 60%;
  margin: 1rem;
  justify-content: center;
  left: calc(50% - 300px);
  display: flex;
  margin-left: 20% ;
  }

.lang{
  display: flex;
  flex-wrap: row;
  list-style: none;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  justify-content: center;
  letter-spacing: .15em; /* Adjust as needed */

}
.card {
  padding: .9rem;
  display: flex;
  background-color:black !important;
  border-radius: 10px;
  box-shadow: -1rem 0 2rem #000;
  transition: 0.4s ease-out;
  margin-left: 3px;
}

.card:not(:first-child) {
    margin-left: 21px;
}

.card:hover {
  transform: translateY(10px);
  transition: 0.001s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 30%;
  transition: 10s ease-out;
}


@media screen and (orientation:portrait) and (min-device-width: 368px) and (max-device-width: 9003px) {
  .Main{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
 img{
 width: 20px;
 height: 20px;
 }
  .lang{
    font-size: .5rem !important;
  }
  .typewriter{
  margin-left: 1.75rem !important;
  }
  .typewriter h1 {
  color: black;
    overflow: hidden; 
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1.755s steps(20, end),
      blink-caret .75s step-end infinite;
  }
/* The typing effect */
  @keyframes typing {
    from { width: 0% }
    to { width: 80% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }
  .container {
    height: 10%;
    width: 100%;
    // left: calc(50% - 300px);
    margin: 1rem;
    display: flex;
     }
     .card {
      width: 35px;

      display: flex;
      background-color:black !important;
      border-radius: 10px;
      box-shadow: -1rem 0 2rem #000;
    // /*   margin-left: -50px; */
      transition: 0.4s ease-out;
    //   position: relative;
    //   left: 0px;
      margin-left: 3px;
    }
    
    .card:not(:first-child) {
        margin-left: 21px;
    }
    
    .card:hover {
      transform: translateY(10px);
      transition: 0.001s ease-out;
    }
    
    .card:hover ~ .card {
      position: relative;
      left: 30%;
      transition: 10s ease-out;
    }
}
@media screen and (orientation:landscape) and (min-device-width: 368px) and (max-device-width: 923px) {
  .Main{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
    img{
    width: 28px;
    position: relative;
    height: 28px;
    }
   .lang{
     font-size: .5rem !important;
   }
   .typewriter{
   margin-left: .95rem !important;
   }
   .typewriter h1 {
   color: black;
     overflow: hidden; 
     border-right: .15em solid transparent; /* The typwriter cursor */
     white-space: nowrap; /* Keeps the content on a single line */
     margin: 0 auto; /* Gives that scrolling effect as the typing happens */
     letter-spacing: .15em; /* Adjust as needed */
     animation: 
       typing 1.755s steps(20, end),
       blink-caret .75s step-end infinite;
   }
 /* The typing effect */
   @keyframes typing {
     from { width: 0% }
     to { width: 80% }
   }
 
   /* The typewriter cursor effect */
   @keyframes blink-caret {
     from, to { border-color: transparent }
     50% { border-color: transparent; }
   }
   .container {
  height: 10%;
  width: 60%;
  margin: 1rem;
  justify-content: center;
  left: calc(50% - 300px);
  display: flex;
  margin-left: 20% ;
   }
   .card {
    padding: .9rem;
    display: flex;
    background-color:black !important;
    border-radius: 10px;
    box-shadow: -1rem 0 2rem #000;
  // /*   margin-left: -50px; */
    transition: 0.4s ease-out;
  //   position: relative;
  //   left: 0px;
    margin-left: 3px;
  }
  
  .card:not(:first-child) {
      margin-left: 21px;
  }
  
  .card:hover {
    transform: translateY(10px);
    transition: 0.001s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 30%;
    transition: 10s ease-out;
  }
 }

