@import '~bootstrap/scss/bootstrap.scss';
.Main{

  .gradient-background {
    height: 100vh;
    background: linear-gradient(51deg,#64cfd6,#0c9ba4,#e64ebf,#96e64e);
    background-size: 240% 240%;
    animation: gradient-animation 12s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
}
img{
 width: 28px;
 height: 28px;
}
.lang{
  font-size: .5rem !important;
}
.typewriter{
  margin-left: 2rem !important;
}
.typewriter h1 {
 color: black;
  overflow: hidden; 
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 20% }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

.lang{
  display: flex;
  flex-wrap: row;
  list-style: none;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  justify-content: center;
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    font-size: 55px ;
    font-size: 3vh;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

.container {
  height: 10%;
  width: 60%;
 
  justify-content: center;
  left: calc(50% - 300px);
  display: flex;
  margin-left: 20% ;


.react{
  position: absolute;
  bottom: 30px;
  left: 73px;
  width:50px;
}
.javascript{
  position: absolute;
  bottom: 30px;
  left: 105px;
  width:50px;
}
.node{
  position: absolute;
  bottom: 30px;
  left: 65px;
  width:50px;
}
.css{
  position: absolute;
  bottom: 30px;
  left: 60px;
  width:50px;
}
.scss{
  position: absolute;
  bottom: 30px;
  left: 76px;
  width:50px;
}
}

.card {
  display: flex;
  height: 380px;
  width: 200px;

  background-color:black !important;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin-left: 3px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.001s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 30%;
  transition: 10s ease-out;
}

.title {
  color: white;
  font-size: .75rem;
  position: absolute;
  left: 20%;
  top: 25%;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 75%;
  max-width: 100% !important;
}

.emptybar {
  background-color: #2e3033;
  width: 60%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(51deg,#64cfd6,#0c9ba4,#e64ebf,#96e64e 100%);
  transition: 6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
@media only screen and (max-width: 300px) {
  .Main{

    .gradient-background {
      height: 100vh;
      width: 100vh;
      background: linear-gradient(51deg,#64cfd6,#0c9ba4,#e64ebf,#96e64e);
      background-size: 240% 240%;
      animation: gradient-animation 12s ease infinite;
    }
    
    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    
  }
  .lang{
    font-size: .5rem !important;
  }
  .typewriter{
    margin-left: 2rem !important;
  }
  .typewriter h1 {
   color: black;
    overflow: hidden; 
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(50, end),
      blink-caret .75s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 20% }
    to { width: 60% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }
  
  .lang{
    display: flex;
    flex-wrap: row;
    list-style: none;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    justify-content: center;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      font-size: 55px ;
      font-size: 3vh;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }
  
  .container {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 60%;
    left: calc(50% - 300px);
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    background-color: black;
  }
  
  .card {
    display: flex;
    height: 41%;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-10px);
    transition: 0.001s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 30%;
    transition: 10s ease-out;
  }
  
  .title {
    color: white;
    font-size: .5rem;
    position: absolute;
    left: 20%;
    top: 11%;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 105%;
    max-width: 100% !important;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 60%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(51deg,#64cfd6,#0c9ba4,#e64ebf,#96e64e 100%);
    transition: 6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2%;

  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
}