.Main{
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  
  color: white;
  border-top: black 15px solid;
  border-left: black 15px dotted;
  border-right: black 15px dotted;
  border-bottom: black solid 3px;
  //////@at-root
  background: #F007BA;
  background: #F007BA;
  background: -moz-linear-gradient(45deg, #F007BA 0%, #08FFE3 56%, #000000 100%);
  background: -webkit-linear-gradient(45deg, #F007BA 0%, #08FFE3 56%, #000000 100%);
  background: linear-gradient(45deg, #F007BA 0%, #08FFE3 56%, #000000 100%);


  .name{ 

    font-size: 90px;
  }

}
.landing-header{
  height: 58vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 39vh;
  
}
.typewriter h1 {
  overflow: hidden; 
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

.lang{
  display: flex;
  flex-wrap: row;
  list-style: none;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  justify-content: center;
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    font-size: 55px ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}
.P {
  background-color: black;
  color: white;
}