.footer {
  width: 100%;
  background: linear-gradient(51deg,#64cfd6,#0c9ba4,#e64ebf,#96e64e);
  background-size: 240% 240%;
  border-top:linear-gradient(51deg,#64cfd6,#0c9ba4,#e64ebf,#96e64e) .15rem solid;
  animation: gradient-animation 12s ease infinite;
  }
 