@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rampart+One&family=Shadows+Into+Light&display=swap');

#projects{
.link{
    color: black;
    border-bottom: none;
    font-size: .5rem !important;
    :active, :hover{
        color: aqua;
        font-size: .5rem !important;
    }
}


.container {
    height: 10%;
    width: 60%;
    color: white;
    background-color: black;

    justify-content: center;
    left: calc(50% - 300px);
    display: flex;
    margin-left: 20% ;
  
  }
  
  .card {
    height: 55rem;
    padding: 1rem;
    display: flex;
    margin: 1rem;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
 
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateX(-10px);
    transition: 0.001s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 30%;
    transition: 10s ease-out;
  }
  
  .title {
    color: white;
    font-size: .6rem;
    position: absolute;
    left: 20%;
    top: 25%;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 105%;
    max-width: 100% !important;
  }
  
//   .emptybar {
//     background-color: #2e3033;
//     width: 60%;
//     height: 100%;
//   }
  
//   .filledbar {
//     position: absolute;
//     top: 0px;
//     z-index: 3;
//     width: 0px;
//     height: 100%;
//     background: rgb(0,154,217);
//     background: linear-gradient(51deg,#64cfd6,#0c9ba4,#e64ebf,#96e64e 100%);
//     transition: 6s ease-out;
//   }
  
÷
  
//   .circle {
//     position: absolute;
//     top: 150px;
//     left: calc(50% - 60px);
//   }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
//   svg {
//     fill: #17141d;
//     stroke-width: 2px;
//   }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
}
// .portfolioContainer {
//     min-width: 100px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-direction: column;
//     height: 100%;
//     width: 100%;
//     box-sizing: border-box;
//     font-family: 'Montserrat', sans-serif;
//    margin: 0;
//     color: white;
//     border: black 15px dotted;
//     //////@at-root
//     background: #CE0CA1;
//     background: -moz-linear-gradient(45deg, #CE0CA1 0%, #0ACCA3 80%, #FFFFFF 100%);
//     background: -webkit-linear-gradient(45deg, #CE0CA1 0%, #0ACCA3 80%, #FFFFFF 100%);
//     background: linear-gradient(45deg, #CE0CA1 0%, #0ACCA3 80%, #FFFFFF 100%);
// .titleLeft {
//     transform: rotate(270deg);
//     font-size: 6em;
//     letter-spacing: 0.05em;
//     margin: 0;
//     padding: 0;
//     height: max-content;
//     opacity: 0.3;
//     position: fixed;
//     left: -14vw;
//     top: 47vh;
//     font-weight: 300;
//     color: white;
//     text-shadow: 6px 6px 1px black;
// }
// h2{
//     font-family: 'Rampart One', cursive;
//     font-size: bold;
//     font-size: 2em;
//     color: black;
//     text-shadow:-moz-linear-gradient(45deg, #F007BA 0%, #08FFE3 56%, #000000 100%);
//     background: -webkit-linear-gradient(45deg, #F007BA 0%, #08FFE3 56%, #000000 100%);
  
// }
// .Link {
//     font-family: 'Rampart One', cursive;
//     font-size: bold;
//     font-size: 3em;
//     color: black;
   
//     // font-size: 6vh;
//     text-decoration: none;
//     align-items: center;
//     transition: transform .2s;
// }
// .Link :hover{
//     transform: scale(1.5);
// }
// span{
//     font-family: 'Shadows Into Light', cursive;    font-size: 1.45em;
//     font-weight: bold;
// }
// .image {
//     display: grid;
//     grid-template-columns: 1fr 2fr 1fr;
//     position: inherit;
//     width: 25vh;
//     height: 15vh;
//     justify-content: center;
//     // transition:transform 0.25s ease;
//     // margin-top: 5vh ;
//     // margin-bottom: 5vh;
//     // margin: 5vh;
//   border: grey inset 5px;
//   margin-bottom: 1em;


// }
// //   .image:hover {
// //     -webkit-transform:scale(1.5); /* or some other value */
// //     transform:scale(1.5);
// // }
// .portfolioMain {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;

//     width: 90%;
//     margin: 5vh 2em 3em 10em;
//     padding: 5vh;

//     .portfolioGrid {

//         height: 40%;
//         width: 100%;
//         height: max-content;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: row;
//         flex-wrap: wrap;
//         margin: 1em 0 1em 0;

//         .projectItem {
//             background-color:transparent;
//             color: black;
//             width: 50%;
//             justify-content: center;
//             margin: 5em;
//             border: 1px solid rgba(176, 182, 251, 0.2);
//             box-shadow: rgba(176, 182, 251, 0.3) 0px 2px 5px 1px, rgba(176, 182, 251, 0.23) 0px 2px 6px 1px, rgba(0, 0, 0, 0.4) 0px 50px 100px -20px,
//                 rgba(0, 0, 0, 0.7) 0px 30px 60px -30px,
//                 rgba(0, 0, 0, 0.7) 0px -2px 6px 0px inset;
//         }
//         .contain{
//             margin: 1em 3em 3em 3em;
//         }

//         .projectItem:hover {
//             box-shadow: rgba(176, 182, 251, 0.3) 0px 2px 5px 1px, rgba(176, 182, 251, 0.23) 0px 2px 6px 1px, rgba(0, 0, 0, 0.7) 0px 50px 100px -20px,
//                 rgba(0, 0, 0, 0.7) 0px 30px 60px -30px,
//                 rgba(0, 0, 0, 0.7) 0px -2px 6px 0px inset;
//              transform: scale(1);
//             cursor: grabbing; 
//         }

//         .projectItem:active {
//             transform: scale(1.75)
//         }

//         .projectName {
//             font-size: 0.9em;
//             text-transform: uppercase;
//             letter-spacing: 0.1em;
//             text-align: center;
//             color: white;
//             opacity: 0.7;
//             margin-top: 0;
//         }
//     }
// }

// ///closing} herer=====

// @media (min-width: 2001px) {
//     .portfolioContainer {

//         .titleLeft {
//             left: -13vw;
//             font-size: 10em;
//         }

//         .portfolioMain {
//             margin: 7vh 2em 3em 10em;

//             .portfolioGrid {

//                 .projectItem {

//                     .projectName {
//                         font-size: 2em;
//                     }

//                     .projectImage {
//                         height: 15vh;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 2000px) {
//     .portfolioContainer {

//         .titleLeft {
//             left: -11vw;
//             font-size: 7em;
//         }

//         .portfolioMain {
//             margin: 7vh 2em 3em 10em;

//             .portfolioGrid {

//                 .projectItem {

//                     .projectName {
//                         font-size: 1.5em;
//                     }

//                     .projectImage {
//                         height: 30vh;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 1600px) {
//     .portfolioContainer {

//         .titleLeft {
//             left: -13vw;
//             font-size: 6em;
//         }

//         .portfolioMain {
//             margin: 7vh 2em 3em 10em;

//             .portfolioGrid {

//                 .projectItem {

//                     .projectName {
//                         font-size: 1em;
//                     }

//                     .projectImage {
//                         height: 25vh;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 1500px) {
//     .portfolioContainer {

//         .titleLeft {
//             left: -12vw;
//             font-size: 5.5em;
//         }

//         .portfolioMain {
//             margin: 7vh 2em 3em 10em;

//             .portfolioGrid {

//                 .projectItem {

//                     .projectName {
//                         font-size: 1em;
//                     }

//                     .projectImage {
//                         height: 25vh;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 1300px) {
//     .portfolioContainer {

//         .titleLeft {
//             left: -16vw;
//             font-size: 6em;
//         }

//         .portfolioMain {
//             margin: 7vh 2em 3em 10em;

//             .portfolioGrid {

//                 .projectItem {

//                     .projectName {
//                         font-size: 1em;
//                     }

//                     .projectImage {
//                         height: 25vh;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 1100px) {
//     .portfolioContainer {

//         // .titleLeft {
//         //     display: none;
//         // }

//         .portfolioMain {
//             margin: 5vh 2em 2em 2em;

//             .titleTop {
//                 font-size: 5em;
//                 letter-spacing: 0.1em;
//                 margin: 0 0 0.5em 0;
//                 padding: 0;
//                 height: max-content;
//                 opacity: 0.3;
//                 z-index: -1;
//                 font-weight: 300;
//                 color: #B0B6FB;
//                 text-shadow: 6px 6px 1px black;
//             }

//             .portfolioGrid {

//                 .projectItem {
//                     margin: 2em;

//                     .projectName {
//                         font-size: 2em;
//                     }

//                     .projectFigure {

//                         .projectImage {
//                             height: 30vh;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 600px) {
//     .portfolioContainer {

//         .portfolioMain {

//             .titleTop {
//                 font-size: 3em;
//                 margin: 0;
//             }

//             .portfolioGrid {

//                 .projectItem {
//                     margin: 1em;

//                     .projectName {
//                         font-size: 1.2em;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 500px) {
//     .portfolioContainer {

//         .portfolioMain {

//             .titleTop {
//                 font-size: 2.5em;
//                 margin: 0;
//             }

//             .portfolioGrid {

//                 .projectItem {
//                     margin: 1em;

//                     .projectName {
//                         font-size: 1em;
//                     }

//                     .projectFigure {

//                         .projectImage {
//                             height: 20vh;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 400px) {
//     .portfolioContainer {

//         .portfolioMain {

//             .titleTop {
//                 font-size: 2.2em;
//             }

//             .portfolioGrid {

//                 .projectItem {

//                     .projectName {
//                         font-size: 0.9em;
//                     }

//                     .projectFigure {

//                         .projectImage {
//                             height: 16vh;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// }