@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rampart+One&family=Shadows+Into+Light&display=swap');

#projects{
  .card{
 margin-top: 4rem ;
  }
    
  
 

}
@media screen and (orientation:portrait) and (min-device-width: 368px) and (max-device-width: 900px) {
  #projects{
    .link{
        color: black;
        border-bottom: none;
        font-size: .5rem !important;
        :active, :hover{
            color: aqua;
            font-size: .5rem !important;
        }
    }
    
    
    // .container {
    //     color: white;
    //     background-color: black;
    //     justify-content: center;
       
    //     margin-left: 20% ;
      
      
    //   }
      
      // .card {
      
      //   height: 55rem;
      //   padding: 1rem;
     
      //   background-color: #17141d;
      //   border-radius: 10px;
      //   box-shadow: -1rem 0 3rem #000;
      // /*   margin-left: -50px; */
      //   transition: 0.4s ease-out;
      //   position: relative;
      //   left: 0px;
     
      // }
      
      // .card:not(:first-child) {
      //     margin-left: -50px;
      // }
      
      // .card:hover {
      //   transform: translateX(-10px);
      //   transition: 0.001s ease-out;
      // }
      
      // .card:hover ~ .card {
      //   position: relative;
      //   left: 30%;
      //   transition: 10s ease-out;
      // }
      
      // .title {
      //   color: white;
      //   font-size: .6rem;
      //   position: absolute;
      //   left: 20%;
      //   top: 25%;
      // }
      
      // .bar {
      //   position: absolute;
      //   top: 100px;
      //   left: 20px;
      //   height: 5px;
      //   width: 105%;
      //   max-width: 100% !important;
      // }
    }
}