.Projects-body{
    height: 600px;
    border: solid blue 10px;
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 10px 0;

    img{
        width: 90px;
    }

    .Projects{
        width: 20px;
	flex: 1;
	// border: 1px dotted teal;
	margin: 2px;
	padding: 1px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; } 
    }
}